.carousel-inner {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  display: flex !important;
  float: none !important;
  width: auto !important;
  margin-right: 0 !important;
}

