.grey-bg {
  width: 100%;
  overflow-x: hidden;
}

.sec1 {
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  background-image: url("../assets/bg1.png");
  background-repeat: round;
  box-shadow: inset 0px -20px 40px 11px #474141;
}

.hero-sec {
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.headline {
  width: 38%;
}

nav {
  .d-flex {
    a {
      border-bottom: solid 2px transparent;
    }

    a:hover {
      cursor: pointer;
      color: #e5d5d5;
      border-bottom: solid 2px #e5d5d5;
    }
  }
}

.burger-meni,
.btn {
  display: none;
}

.btn {
  &:focus {
    box-shadow: none;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.set-icon {
  li {
    ul {
      a {
        img {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.open-menu {
  position: fixed;
  height: 100%;
  width: 85%;
  top: 0;
  left: 0;
  background-color: rgba(230, 213, 213, 87%);
  padding-top: 100px;
  padding-left: 25px;
  z-index: 2;

  h2 {
    color: #322b2b;
    // padding-bottom: -15px;
    margin-bottom: 70px;
    border-bottom: solid 2px transparent;
    width: fit-content;
    // height: fit-content;
    &:hover {
      border-bottom: solid 2px #322b2b;
    }
  }
}

.btn {
  padding: 0;
}

.catalog-btn {
  padding: 2px 22px;
  margin-top: 225px;
  border-radius: 16px;
  background-color: rgba(243, 214, 66, 85%);
  box-shadow: 8px 14px 10px 0px rgba(0, 0, 0, 0.25);

  a {
    color: #322b2b;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Reem Kufi", sans-serif;
  }
}

.catalog-btn:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

.active {
  display: flex !important;
}

.aboutus-sec {
  margin-left: 80px;
  margin-right: 80px;

  div {
    padding: 30px 50px;
  }
}

.info-sec {
  margin-bottom: 100px;
}

.info {
  display: flex;
  background-color: rgba(243, 214, 66, 0.25);
  padding: 50px;
  border-radius: 20px;
  justify-content: space-around;
}

.yellow-circle {
  background-color: #f3d642;
  padding: 25px 15px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  text-align: center;

  p {
    margin-bottom: 0;
    line-height: 15px;
  }

  h2 {
    letter-spacing: normal;
  }
}

.yellow-rectangle {
  width: 47%;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  border: 10px solid rgba(243, 214, 66, 0.25);
  ul {
    li {
      list-style-type: circle;
      margin-bottom: 10px;
      a {
        text-decoration: underline;
        color: #e5d5d5;
      }
    }
  }

  ol,
  ul {
    padding-left: 1rem;
  }

  h6 {
    margin-bottom: 15px;
  }
}

.moreinfo-btn {
  background-color: #f3d642;
  border-radius: 10px;
  padding: 5px 25px;
  color: #322b2b;
}

.contact-box {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: baseline;
}

.icon-box {
  text-align: center;
  color: #e5d5d5;
  a {
    color: #e5d5d5;
    &:hover {
      color: #e5d5d5;
    }
  }

  img {
    margin-bottom: 25px;
  }
}

.location {
  animation: MoveUpDown 2s linear infinite;
  position: relative;
}

@keyframes MoveUpDown {
  0%,
  75% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
}

.footer-logo {
  position: absolute;
  bottom: 5px;
  left: 25px;
}

.bg2 {
  background-image: url("../assets/bg2.png");
  background-repeat: repeat-x;
  padding-bottom: 115px;
  padding-top: 100px;
  box-shadow: 61px -145px 200px 50px #474141e3 inset;
}

.bg3 {
  background-image: url("../assets/bg3.png");
  background-repeat: round;
  margin-bottom: 100px;
}

.bg4 {
  background-image: url("../assets/keysBackground.png");
  background-repeat: round;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  img {
    margin-right: 100px;
  }

  h2 {
    width: 30%;
    align-self: center;
    line-height: 90px;
  }
}

.bg5 {
  position: relative;
  height: 440px;
  background-image: url("../assets/location.png");
  margin-top: 40px;
  padding-top: 60px;
  text-align: center;
  background-size: cover;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-250 {
  padding-bottom: 250px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.mx-135 {
  margin-left: 135px;
  margin-right: 135px;
}

.mt-115 {
  margin-top: 115px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-100 {
  margin-bottom: 100px;
}

.ml-75 {
  margin-left: 75px !important;
}

.mr-auto {
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.radius20 {
  border-radius: 20px;
}

.space-around {
  justify-content: space-around;
}
