@media screen and (min-width: 1800px) {
  .carousel {
    margin-right: 120px;
    margin-left: 120px;
  }
}

@media screen and (min-width: 1700px) {
  .aboutus-sec,
  .mx-80 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .sec1 {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (min-width: 1600px) {
  .carousel {
    margin-right: 80px;
    margin-left: 80px;
  }
}

@media screen and (min-width: 1500px) {
  .aboutus-sec,
  .mx-80 {
    margin-left: 120px;
    margin-right: 120px;
  }

  .sec1 {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media screen and (max-width: 1300px) {
  .carousel-control-next,
  .carousel-control-prev {
    width: 4% !important;
  }

  .sec1,
  .bg3 {
    background-repeat: space;
  }
}

@media screen and (max-width: 1250px) {
  .info {
    padding: 20px;
  }

  .carousel-item:not(:first-child) {
    margin-left: 4% !important;
  }

  .yellow-circle {
    padding: 12px 12px;
    width: 140px;
    height: 140px;

    .pb-10,
    .pb-15 {
      padding-bottom: 3px;
    }

    h2 {
      font-size: 46px;
    }

    &:nth-child(1) {
      img {
        height: 55px;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 12px;
      }
    }

    &:nth-child(2) {
      h2 {
        margin-bottom: 3px;
      }
      p:first-child {
        margin-top: 5px;
      }
    }

    &:nth-child(3) {
      padding: 17px;

      p {
        margin-bottom: 5px;
      }

      img {
        height: 59px;
        padding-bottom: 10px;
      }
    }

    &:nth-child(4) {
      padding: 8px;
      img {
        height: 52px;
      }
    }

    &:nth-child(5) {
      padding: 14px;
      img {
        height: 53px;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .bg4 h2 {
    width: 40%;
  }

  nav {
    div {
      .mr-50 {
        margin-right: 25px;
      }
    }
  }

  .carousel {
    display: flex;
    justify-content: center;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none !important;
  }

  .aboutus-sec,
  .mx-80 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .sec1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .info {
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 57px;
  }

  .info {
    // padding: 0;
    background-color: transparent;
    width: 100%;
  }

  .mx-80 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 800px) {
  .nav {
    display: none !important;
  }

  .burger-meni {
    display: inline;
    width: 9%;
  }

  .set-icon {
    display: none;
  }

  .hero-sec {
    display: block;
  }
  .button {
    margin-top: 50px;
  }
  button {
    margin: auto;
  }

  .yellow-circle {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
