@media screen and (min-width: 1800px) {
  .carousel {
    margin-right: 120px;
    margin-left: 120px;
  }
}

@media screen and (min-width: 1700px) {
  .aboutus-sec,
  .mx-80 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .sec1 {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (min-width: 1600px) {
  .carousel {
    margin-right: 80px;
    margin-left: 80px;
  }

  .pos-f-t {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  .aboutus-sec,
  .mx-80 {
    margin-left: 120px;
    margin-right: 120px;
  }

  .sec1 {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media screen and (max-width: 1300px) {
  .carousel-control-next,
  .carousel-control-prev {
    width: 4% !important;
  }

  .sec1,
  .bg3 {
    background-repeat: space;
  }
}

@media screen and (max-width: 1250px) {
  .info {
    padding: 20px;
  }

  .carousel-item:not(:first-child) {
    margin-left: 4% !important;
  }

  .yellow-circle {
    padding: 12px 15px;
    width: 140px;
    height: 140px;

    p {
      font-size: 14px;
    }

    .pb-10,
    .pb-15 {
      padding-bottom: 0;
    }

    h2 {
      font-size: 46px;
    }

    &:nth-child(1) {
      img {
        height: 55px;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 12px;
      }
    }

    &:nth-child(2) {
      h2 {
        margin-bottom: 3px;
      }
      p:first-child {
        margin-top: 5px;
      }
    }

    &:nth-child(3) {
      padding: 17px;

      p {
        margin-bottom: 5px;
      }

      img {
        height: 59px;
        padding-bottom: 10px;
      }
    }

    &:nth-child(4) {
      img {
        height: 52px;
      }
    }

    &:nth-child(5) {
      padding: 14px;
      img {
        height: 53px;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .bg4 {
    h2 {
      width: 40%;
    }
    img {
      margin-right: 60px;
    }
  }

  nav {
    div {
      .mr-50 {
        margin-right: 25px;
      }
    }
  }

  .carousel {
    display: flex;
    justify-content: center;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none !important;
  }

  .aboutus-sec,
  .mx-80 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .sec1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .info {
    padding: 20px 0;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 52px;
    line-height: 77px !important;
    letter-spacing: 10px;
  }

  .info {
    background-color: transparent;
    width: 100%;
  }

  .mx-80 {
    margin-right: 0;
    margin-left: 0;
  }

  .row {
    padding: 0 20px;
  }

  .bg4 {
    img {
      margin-right: 50px;
      width: 348px;
      height: 488px;
    }
  }

  .yellow-circle {
    &:nth-child(2) {
      h2 {
        margin-bottom: -9px;
        margin-top: -4px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 48px;
  }

  .bg4 {
    img {
      margin-right: 35px;
    }
  }

  .yellow-rectangle {
    ul {
      li {
        margin-bottom: 0;
        a {
          font-size: 14px;
          letter-spacing: 0.5px;
        }
      }
    }
  }

  // .row:nth-child(2) {
  //   .yellow-rectangle {
  //     &:nth-child(2) {
  //       h6 {
  //       }
  //     }
  //   }
  // }

  // &:nth-child(3) {
  //   h6 {
  //     text-transform: inherit;
  //   }
  // }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 55px;
    letter-spacing: 12px;
  }

  h2 {
    font-size: 38px;
    letter-spacing: 5px;
    line-height: 70px !important;
  }

  h3 {
    font-size: 30px;
    letter-spacing: 7px;
  }

  h6 {
    font-size: 17px;
    letter-spacing: 3px;
  }

  p {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.3px;
  }

  .nav {
    display: none !important;
  }

  .burger-meni,
  .btn {
    display: inline;
  }

  .pos-f-t {
    display: block;
  }

  .set-icon {
    display: none;
  }

  .hero-sec {
    display: block;
  }

  .headline {
    width: 68%;
  }

  .hero-sec {
    padding-top: 150px;
  }

  .catalog-btn {
    text-align: center;
    margin-top: 50px;
  }

  .yellow-circle {
    padding: 12px 12px;
    min-width: 140px;
    min-height: 140px;

    .pb-10,
    .pb-15 {
      padding-bottom: 0;
    }

    h2 {
      font-size: 46px;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      margin-right: 10px;
    }

    &:nth-child(4) {
      margin-right: 10px;
      p {
        margin-top: 5px;
      }
    }
  }

  .yellow-rectangle {
    padding: 20px 15px;
    p {
      text-align: start;
    }
    button {
      float: right;
    }
  }

  .button {
    text-align: center;
  }

  .aboutus-sec {
    div {
      padding: 15px;
    }
  }

  .bg4 {
    img {
      width: 48%;
      height: auto;
    }
  }
}

@media screen and (max-width: 700px) {
  #parent {
    display: flex;
    flex-flow: column;
    #a {
      order: 2;
      margin: 30px 0;
    }
    #c {
      order: 3;
    }
    #b {
      order: 1;
    }
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
    line-height: 54px !important;
  }

  .sec1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
  }

  .catalog-btn {
    margin-top: 100px;
  }

  .aboutus-sec {
    margin-left: 15px;
    margin-right: 15px;
  }

  .info-sec {
    h3 {
      font-weight: bold;
    }
  }

  .info {
    -ms-overflow-style: none;
    overflow-y: scroll;
    justify-content: flex-start;
    padding-right: 20px;
    padding-left: 20px;
  }

  .info::-webkit-scrollbar {
    display: none;
  }

  .bg4 {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 50px;
    h2 {
      width: 90%;
      text-align: center;
      margin-bottom: 50px;
      font-weight: bold;
    }
    img {
      margin-right: 0;
    }
  }

  .row,
  .mb-40 {
    margin-bottom: 0;
  }

  .yellow-circle {
    &:nth-child(2) {
      p {
        margin-bottom: 5px;
      }
      h2 {
        margin-bottom: 2px;
      }
    }
  }

  .yellow-rectangle {
    width: 90%;
    margin-bottom: 30px;
  }

  .icon-box {
    img {
      height: 45px;
    }
  }

  .location {
    img {
      width: 60px;
    }
  }

  .footer-logo {
    left: 50%;
    transform: translateX(-50%);
    top: 143px;
    width: 130px;
  }
}

@media screen and (max-width: 560px) {
  h3 {
    font-size: 20px;
    letter-spacing: 10px;
  }

  p {
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 0.2px;
  }

  nav {
    .logo {
      width: 40%;
    }
  }

  .sec1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
  }

  .catalog-btn {
    a {
      font-size: 25px;
    }
  }

  .bg2 {
    padding-bottom: 100px;
    padding-top: 80px;
  }

  .bg3 {
    margin-bottom: 50px;
  }

  .carousel-inner {
    height: 265px;
  }

  .carousel-item {
    height: 220px;
    width: 220px;
  }

  .yellow-rectangle {
    ul {
      li {
        a {
          font-size: 12px;
        }
      }
    }
  }
}
