* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Reem Kufi", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

h1 {
  font-size: 86px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 13px;
  word-spacing: 8px;
  text-transform: uppercase;
}

h2 {
  font-size: 62px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 13px;
  word-spacing: 8px;
  text-transform: uppercase;
}

h3 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 13px;
  word-spacing: 8px;
  text-transform: uppercase;
}

h6 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  letter-spacing: 4px;
  word-spacing: 8px;
  text-transform: uppercase;
}

p {
  line-height: 30px;
  letter-spacing: 1.3px;
  word-spacing: 3px;
}
